@import "variables";

section.area {
  padding: 60px 20px 20px 20px;
  height: auto;
  background: $white;
  color: #4e4e4e;

  p {
    font-size: 22px;
    font-weight: lighter;
    line-height: 32px;
    margin: 0 0 24px;
  }

  &.dark {
    background: $black;
    color: $white;
  }
}