/* Colors */
$true-black: #000;
$black: #2B2B2B;
$white: #F6F6F6;
$accent: #DE1B1B;
$accent-dark: #880000;
$accent-light: #EC4848;
$gray: #c3c3c3;

/* Breakpoints */
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;
